/* mobile styles------------------------------------> */


/*  base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */
.header {
    font-family: Arial, Helvetica, sans-serif;
}

/* blocks */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    color: white;
}

.brand-title {
    font-size: 1rem;
    margin: 1em;
    margin-right: 3em;
}




